// .babelrc
{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "corejs": "3"
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-async-generator-functions"],
        [
            "@babel/plugin-transform-runtime",
            {
              "absoluteRuntime": false,
              "corejs": 3,
              "helpers": true,
              "regenerator": true,
              "useESModules": false
            }
        ]
    ]
}